<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head section -->
<head th:replace="~{/fragments/head::head}"></head>

<body class="sub_page">
	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{/images/nav-bg.jpg}" alt="">
		</div>

		<!-- header section -->
		<header th:replace="~{/fragments/header::header}"></header>
	</div>

	<!-- main section -->
	<section class="book_section layout_padding">
		<div class="container">
			<div class="heading_container">
			<h1>Login</h1>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form_container">
						<form action="#" method="post" th:action="@{/login}">
							<div>
								<input id="email" name="email" type="email" class="form-control" placeholder="Email" />
							</div>
							<div>
								<input id="password" name="password" type="password" class="form-control" placeholder="Password" />
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="remember-me" id="remember-me" name="remember-me">
								<label class="form-check-label" for="remember-me">Remenber Me</label>
							<a th:href="@{/forgot-passwird}" class="float-right">Forgot password</a>
							</div>
							<div class="btn_box">
								<button type="submit">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end main section -->

	<!-- footer section -->
	<footer th:replace="~{/fragments/footer::footer}"></footer>
</body>

</html>