<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head section -->
<head th:replace="~{/fragments/head::head}"></head>

<body class="sub_page">
  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
        
    <!-- header section -->
    <header th:replace="~{/fragments/header::header}"></header>
  </div>

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container  ">
		<h1>My Profile Page</h1>
	    <div class="row">
			<div class="col-md-6">
				<div class="form_container">
					<form action="#" method="post" th:action="@{/profile}" th:object="${account}">
						<input type="hidden" id="id" name="id" th:field="*{id}" />
						<div class="form-group">
							<input id="firstName" name="firstName" type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" />
							<small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</small>
						</div>
						<div class="form-group">
							<input id="lastName" name="lastName" type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" />
							<small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</small>
						</div>
						<div class="form-group">
							<input id="dateOfBirth" name="dateOfBirth" type="date" th:field="*{dateOfBirth}" class="form-control" placeholder="Date of Birth" />	
							<small class="text-danger" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of Birth Error</small>							
						</div>
						<div class="form-select">
							<select id="gender" th:field="*{gender}" class="form-control mb-3">
								<option value="" selected>--select gender--</option>
								<option value="M">Male</option>
								<option value="F">Female</option>
							</select>
							<small class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</small>
						</div>
						<div class="form-group">
							<input id="email" type="email" name="email" th:field="*{email}" class="form-control" placeholder="Email" />
							<small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
						</div>
						<div class="form-group">
							<input id="password" type="text" name="password" th:field="*{password}" class="form-control" placeholder="Password" />
							<small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
						</div>
						<div class="btn_box">
							<button class="btn btn-lg btn-secondary" type="submit">Update profile</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<img th:src="@{${photo}}" class="img-fluid rounded-lg d-block px-5" style="width: 350px;" alt="Avatar" />
				<p th:text="${error}" th:if="${error ne null}" class="text-danger ml-5">No file uploaded</p>
				<p th:text="${message}" th:if="${message ne null}" class="text-success ml-5">File uploaded successfully</p>
				<form method="post" th:action="@{/profile/update_photo}" enctype="multipart/form-data">
					<div class="form-group ml-5 mt-5">
						<input type="file" name="file" class="form-control-file">
					</div>
					<button type="submit" class="btn btn-secondary ml-5">Update photo</button>
				</form>
			</div>			
		</div>
	</div>
  </section>
  <!-- end about section -->

  <!-- footer section -->
  <footer th:replace="~{/fragments/footer::footer}"></footer>
</body>

</html>